@font-face {
    font-family: 'CynthoNextBold';
    src: url('../../../assets/fonts/CynthoNextBold.otf') format('opentype');
    font-weight: 500;
    font-style: bold;
}


.pageHeader {
    color: #ffffff;
    margin-top: -8.5vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
   
    .questionAns {
        font-size: 50px;
        font-weight: bold;
    }

    .correctAns {
        font-weight: 600;
        font-size: 40px;
    }

    .greeting {
        font-weight: bolder;
        font-size: 40px;
        padding-bottom: 20px;
        line-height: 1.5;
    }

}

